<!-- Static navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">UseMono.NET</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#what">What?</a></li>
                <li><a href="#why">Why?</a></li>
                <li><a href="#how">How?</a></li>
                <li><a href="https://github.com/maclennann/usemono-net/wiki" target="_blank">Resources</a></li>
                <li><a href="https://github.com/maclennann/usemono-net" target="_blank">Github</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>