<div class="jumbotron visible-lg">
    <div class="row">
        <div class="col-md-8">
            <ul>
                <li>
                    What?
                    <ul>
                        <li><a href="#whatis">What is Mono?</a></li>
                        <li><a href="#whois">Who is Using Mono?</a></li>
                    </ul>
                </li>
                <li>
                    Why?
                    <ul>
                        <li><a href="#shouldi">Why Should I Consider Mono?</a></li>
                        <li><a href="#myths">Mono Myths</a></li>
                    </ul>
                </li>
                <li>
                    How?
                    <ul>
                        <li><a href="#howdoi">How do I get started?</a></li>
                        <li><a href="#testing">How do I test my existing application for compatibility?</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="~/Content/mono-logo.png" alt="mono logo" />
        </div>
    </div>
</div>