<div class="row">
	<a id="how"></a>
    <h2>How?</h2>
    <div class="col-md-12">
	    <a id="howdoi"></a>
	    <h3>How do I get started?</h3>
	    <ul>
	    	<li>Install Mono</li>
	    	<li>Take your open source project and test it for Mono compatibility</li>
	    	<li>Take someone else's open source project and submit a pull request to make it compatibile with Mono</li>
	    	<li>Fork this website on GitHub, and run it in Mono in a test environment</li>
	    	<li>Clone <a href="https://github.com/maclennann/csharp-crossplat-service-demo">this repository</a> and use the included Vagrant box to try Mono.</li>
	    </ul>
	 </div>
	<div class="col-md-12">
		<a id="testing"></a>
		<h3>How Do I Test My Existing Application?</h3>
		<p>The easiest way is to add <a href="http://mono-project.com/Gendarme">Mono.Gendarme</a> to your project through NuGet and execute the Wizard runner once. You should eventually use the console runner and make it part of your integration tests.</p>
		<p>You can also set up a Vagrant box with Mono (or <a href="https://github.com/maclennann/csharp-crossplat-service-demo">clone this one</a>) and use it to run and test your application.</p>
		<p>You can also use <a href="https://github.com/maclennann/usemono-net/wiki/Getting-Started-with-Mono">this Puppet module</a> to easily install Mono on any existing box to test things on.</p>
	</div>
</div>