<div class="row">
    <a id="what"></a>
    <h2>What?</h2>
    <div class="col-md-12">
        <a id="whatis"></a>
        <h3>What Is Mono?</h3>
        <p>According to <strike>the Oxford English Dictionary</strike> the <a href="http://www.mono-project.com/Main_Page">official Mono Homepage</a>:</p>
        <blockquote>
            Mono is a software platform designed to allow developers to easily create cross platform applications...
            an open source implementation of Microsoft's .NET Framework based on the ECMA standards for C# and the Common Language Runtime
        </blockquote>

        <p>
            In short, it is an implementation of the .NET runtime that allows .NET applications to run on Windows, Linux, and OSX.
            In a way, it is an attempt to create a Java-like "write once, run anywhere" situation for .NET languages.
        </p>

        <p>Mono has been around since 2004, and has been steadily creating a .NET implementation that is nearly feature-complete and increasingly-easy to use.</p>
    </div>
    <div class="col-md-12">
        <a id="whois"></a>
        <h3>Who is Using Mono?</h3>
        <p>
            The most visible user of Mono is the current sponsor of the project: <a href="http://xamarin.com/">Xamarin</a>. Mono is the secret sauce of their cross-platform
            mobile app development product.
        </p>

        <p>
            The previous curator of Mono, Novell, also makes use Mono in some software they have created or sponsored, such as <a href="http://banshee.fm/">Banshee</a>
            and <a href="http://en.wikipedia.org/wiki/F-Spot">F-Spot</a>.
        </p>

        <p>See the <a href="http://mono-project.com/Software">Software List</a> on Mono's website for a larger list.</p>

        <p>
            And that's not even mentioning the countless NuGet packages and other .NET libraries, frameworks, and applications that support Mono out-of-the-box without necessarily
            consciously supporting it.
        </p>
    </div>
</div>